body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    /*padding-left: 15px;
    padding-right: 15px;
    padding-left: 0px;
    padding-right: 0px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#bgheader{
    background-color:#97D17A;
    border:none;
}

.navbar > .container .navbar-brand{
    color:#FFF;
}

.navbar .nav>li>#dropdown-login:after,.navbar .nav>li>#dropdown-login:before {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    right: 10px;
}

.navbar-inverse .navbar-nav > li > #navLogin{
    color:#fff;
}

.navbar-inverse .navbar-nav > .open > #navLogin, .navbar-inverse .navbar-nav > .open > #navLogin:focus, .navbar-inverse .navbar-nav > .open > #navLogin:hover{
    background-color:transparent;
    border:none;
}

#dropdown-login{
    min-width:230px;
}