body {
    background-color: #F1F1F1;
    padding-top: 50px;
}
#page{
    min-height:calc(100vh - 60px);
}

.content{
    padding-top:20px;
}

.bgblock{
    background-color:#FFF;
}

hr{
    background-color:#CCC;
    height:1px;
    border:0px;
}

/************************ Filter ************************/

/*.panel-heading + #filter-lsCusisine .other-cuisine:first-child{
    border: 1px solid #DDD;
    border-width:1px 0px;
}*/

/************************ Header ************************/
#bgheader{
    background-color:#97D17A;
    border:none;
}

.navbar > .container .navbar-brand{
    color:#FFF;
}

.navbar .nav>li>#dropdown-login:after,.navbar .nav>li>#dropdown-login:before {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    right: 10px;
}

.navbar-inverse .navigation > li > a{
    color:#fff;
}

.navbar-inverse .navigation > .active > a, .navbar-inverse .navigation > .active > a:focus, .navbar-inverse .navigation > .active > a:hover{
    color:#fff;
    background-color:#4C8DA6;
}

.navbar-inverse #navLogin > .open > a, .navbar-inverse #navLogin > .open > a:focus, .navbar-inverse #navLogin > .open > a:hover{
    background-color:transparent;
    border:none;
}

#dropdown-login{
    min-width:230px;
}

.validation-summary-valid.alert-danger {
    display: none;
}

/************************ Footer ************************/
.footer{
    /*display:table-row;*/
    /*right:0;*/
    height:60px;
    background-color:#97D17A;
}

/************************ Form ************************/
#SelectedItemsCuisine_chosen{
    display:block;
}

#SelectedItemsCuisine_chosen .chosen-choices{
    border-radius:4px;
}

.ui-autocomplete>li {
  border-radius:4px;
}

#SearchString{
    height:auto;
}

.divform{
    padding:10px;
}
/************************ Details ************************/

.details{
    background-color:#F5F5F5;
}

.details-restaurants .row .col-md-6 img{
    width:100%;
    height:auto;
}

.details-restaurants{
    margin:20px 0px;
    padding:0px;
}

.rating-num{
    margin-top:0px;
    font-size:54px;
}

.rating-desc{
    padding-right:0px;
}
.fa-icon{
    margin-right:5px;
}

.progress-evaluation{
    margin-bottom:5px;
}

.sr-only-percent{
    overflow:visible;
    clip:auto;
}

#detail-header img {
    width: 100%;
    height: 200px;
}


.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}


/************************ Lister ************************/
#lssearch{
    margin-top:15px;
    margin-bottom:30px
}

.list-restaurant{
    margin-bottom:20px;
}

.list-restaurant img{
    max-height:100%;
}


/************************ Home ************************/

#carousel-home > .item > img{
    max-height:500px;
    width:100%;
}

#home_search{
    margin:0px 0px 20px;
}

.row .item-ville{
    text-align:center;
}

.thumbnail-box {
    display: block;
    position: relative;
    z-index: 2;
    padding-bottom:15px;
}

.thumbnail-box img{
    width:100%;
}

.thumbnail-box * + h3 {
    margin-top:0px;
}

.thumbnail-box h3{
    background-color:#000;
    color:#fff;
    display:block;
    left:0;
    opacity:0.7;
    padding:10px;
    position:absolute;
    right:0;
    text-align:center;
    top:50%;
    width:100%;
    z-index:2;
    transform:translateY(-50%);
}

#map{
    height:70%;
}