body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    /*padding-left: 15px;
    padding-right: 15px;
    padding-left: 0px;
    padding-right: 0px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/************************ Top ************************/
#bgheader{
    background-color:#97D17A;
    border:none;
}

.navbar > .container .navbar-brand{
    color:#FFF;
}

.navbar .nav>li>#dropdown-login:after,.navbar .nav>li>#dropdown-login:before {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    right: 10px;
}

.navbar-inverse .navigation > li > a{
    color:#fff;
}

.navbar-inverse .navigation > .active > a, .navbar-inverse .navigation > .active > a:focus, .navbar-inverse .navigation > .active > a:hover{
    color:#fff;
    background-color:#4C8DA6;
}

.navbar-inverse #navLogin > .open > a, .navbar-inverse #navLogin > .open > a:focus, .navbar-inverse #navLogin > .open > a:hover{
    background-color:transparent;
    border:none;
}

#dropdown-login{
    min-width:230px;
}

.validation-summary-valid.alert-danger {
    display: none;
}

/************************ Form ************************/
#SelectedItemsCuisine_chosen{
    display:block;
}

#SelectedItemsCuisine_chosen .chosen-choices{
    border-radius:4px;
}

.ui-autocomplete>li {
  border-radius:4px;
}

#SearchString{
    height:auto;
}

/************************ Details ************************/
.rating-num{
    margin-top:0px;
    font-size:54px;
}

.rating-desc .col-md-3{
    padding-right:0px;
}

.fa-icon{
    margin-right:5px;
}

.progress-evaluation{
    margin-bottom:5px;
}

.sr-only-percent{
    overflow:visible;
    clip:auto;
}